layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane split_direction="Horizontal" {
                pane
                pane
            }
            pane split_direction="Horizontal" {
                pane
                pane
                pane command="htop" {
                    args "-C"
                }
            }
        }
    }
    tab split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane size="60%" focus=true
            pane split_direction="Horizontal" {
                pane
                pane
            }
        }
    }
}
session_name "zellij"
attach_to_session true
